* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.slide_wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 400px;
    overflow: hidden;
}

.slides {
    position: absolute;
    left: 0;
    top: 0;
}

.slides.animated {
    transition: 0.5s ease-out;
}

.slides li {
    width: 300px;
    height: 400px;
    background: #ccc;
    float: left;
}

.slides li {
    margin-right: 29px;
}

.controls {
    text-align: center;
    margin-top: 50px;
}

.controls span {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
}

.visual_img {
    width: 400px;
    height: auto;
}

.container_info {
    display: flex; /* Flexbox를 사용하여 내부 요소를 가로로 정렬 */
}

.performance_info {
    flex: 1; /* 자동으로 공간을 할당하여 화면의 왼쪽에 배치 */
    padding: 20px; /* 간격 추가 */
}

.performance_visual {
    flex: 1; /* 자동으로 공간을 할당하여 화면의 오른쪽에 배치 */
    padding: 20px; /* 간격 추가 */
}